.btn{
	width: 100px;
	height: 40px;
	border-radius: 20px;
}

body{
	border-top: 10px solid blue;
	background-image: url('../images/curve.png');
	background-repeat: no-repeat;
	background-position: top;
	/* background-position: right; */
	background-position-x: right;
}
.container{
	margin: 0 auto;
	width: 1300px;
	margin-top: 100px;
	/* border: 1px solid black; */
	border-radius: 10px;
	box-shadow:0 0 50px rgba(0,0,0,0.20);
}